<!DOCTYPE html>
<html lang="en">
<head>
    <title>AMS Cam</title>
    <% include ../shared/head.ejs %>
</head>
<body>

<% include ../shared/header.ejs %>

<div class="step welcome-step np">
    <div class="container">
        <form method="POST">
        
            <h3 class="mt bordered mb">Update Camera Password</h3>
            
            <div class="alert alert-info"><span class="fa fa-info-circle"></span> The camera password is the same than the one you're using to log in to the app.</div>
            
            <%if (typeof success != 'undefined') { %> 
                <div class="alert alert-success dmt alert-dismissable">
                    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                    <i class="fa fa-check"></i> <strong><%=success%></strong> 
                </div>
            <% }  %>
            
            <%if (typeof errors != 'undefined') { %> 
                <div class="alert alert-danger dmt alert-dismissable">
                    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                    <i class="fa fa-warning"></i> <strong>Error</strong>
                    <ul> 
                        <% for(var i=0; i<errors.length; i++) {%>
                            <%if (errors[i] != "")  { %> 
                                <li><%= errors[i] %></li>
                            <% } %>    
                        <% } %>
                    </ul>
                </div>
            <% }  %>
            
            
            <div class="in">
            
                <%if (typeof config.cam_pwd === 'undefined') { %> 
                
                    <div class="alert alert-danger dmt">
                        <i class="fa fa-warning"></i> 
                        <strong>You have to update the default password of your camera for device # <%=config.device_id%></strong>
                    </div>
                    <input type="hidden" name="oldPwd" id="oldPwd" class="form-control" value="admin">
                
                <%} else {%>
                 
                    <div class="form-group">    
                        <label for="oldPwd">Old Password</label>
                        <input type="password" name="oldPwd" id="oldPwd" ng-model="oldPwd" class="form-control" placeholder="Old Password" autofocus>
                        <a href="/cam/forget_cam_pwd">Forgot password?</a>
                    </div>
                    <hr/>
                
                <%}  %>
                <div class="form-group">    
                    <label for="newPwd">New Password</label>
                    <input type="password" name="newPwd" id="newPwd" ng-model="newPwd" class="form-control" placeholder="New Password">
                </div>
                <div class="form-group">    
                    <label for="newPwd2">Repeat New Password</label>
                    <input type="password" name="newPwd2" id="newPwd2" ng-model="newPwd2" class="form-control" placeholder="Repeat New Password">
                </div>
                <button id="btnSignIn" class="btn btn-lg btn-primary btn-block load-on-click">Update password</button>
            </div>
        </form>
    </div>
</div>

<% include ../shared/footer.ejs %>