<div id="loader" style="display:none"><span class="fa fa-spinner fa-pulse fa-5x fa-fw"></span></div>
<div id="wrap" class="clearfix">   
 
    <div class="navbar navbar-main">
        <div class="container">
      
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-1" aria-expanded="false">
                    <span class="fa fa-navicon"></span>
                </button>
           
                <div id="mobile-logo"><a href="/"><img src="/img/ams.png" alt="American Meteor Society">
                    <%if (typeof config != 'undefined' && config.device_id != 'undefined') { %> 
                        <span>AMSCam #<%= config.device_id %></span>
                    <% } %> </a>
                </div>
            </div>
        
            <% if(typeof node_header_menu === 'undefined') { %>
        
              <div class="collapse navbar-collapse top-nav-bar" id="navbar-collapse-1">
              <ul class="nav navbar-nav navbar-right"> 
                <li class="divider-v"></li>
                <li class="dropdown">
			  	    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Detections <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="/detection/fireballs">Fireball detections</a></li>
                        <li role="presentation" class="divider"></li>
			  	        <li><a href="/detection/maybe">Uncertain detections</a></li>
                        <li><a href="/detection/false">False detections</a></li>
                    </ul>
                </li>    
                <li class="divider-v"></li> 
                <li class="dropdown">
			  	    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Camera<b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="/cam/parameters">Parameters</a></li> 
                        <li><a href="/cam/focus_helper">Focus Helper</a></li> 
                        <!--<li><a href="/cam/setup">Setup</a></li> -->
                        <li role="presentation" class="divider"></li>
                        <li><a href="/cam/screenshot">Screenshot</a></li> 
                        <li role="presentation" class="divider"></li> 
                        <li><a href="/cam/log">Temperature Log</a></li> 
                        <li role="presentation" class="divider"></li>
                        <%if (typeof config != 'undefined' && config.cam_ip != 'undefined') { %> 
                            <li><a href="http://<%= config.cam_ip %>" target="_blank">Configuration <span class="fa fa-external-link"></span></a></li>
                        <% } %> 
                        <li><a href="/cam/restart" data-confirm="You are about to reboot your Camera. It may take up to 3 minutes. Please, confirm."><span class="fa fa-refresh btn btn-success btn-xs"></span> Restart</a></li>
                     </ul>
                </li>
                <li class="divider-v"></li>
                <li class="dropdown">
			  	    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Rasp. PI <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="/pi/restart" data-confirm="You are about to reboot your Raspberry PI. Please, confirm."><span class="fa fa-refresh btn btn-success btn-xs"></span> Restart</a></li>
                        
                        <li><a href="/pi/shutdown" data-confirm="You are about to shutdown your Raspberry PI. Please, confirm."><span class="fa fa-close btn btn-danger btn-xs"></span> Shutdown</a></li>
                     </ul>
                </li>     
                <li class="divider-v"></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="fa fa-cog"></span> <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="/pwd/update_pwd">Update Password</a></li>
                     </ul>
                </li>     
                <li class="divider-v"></li> 
                <li><a href="/logout"  title="Logout"><i class="fa fa-sign-out"></i></a></li>  
                <li class="divider-v"></li>
              </ul>
            </div> 
            
            <% } %>
            
        </div>
    </div>
    
    <div class="container">