/* CSS Document */

#mobile-logo { display: block }
#mobile-logo img { padding: 1em; max-width: 5em; }
#mobile-logo span  {  
  display: inline-block;
  font-weight: bolder;
  line-height: 50px;
  font-size: 2em;
 }

.table-results{ width: auto;  margin: 1em auto 2em; }
.dmr { margin-right:.5em }
.img1 { max-width:200px }
.preview { max-height:100px; overflow:auto}
@media (min-width:1600px){.container{width:1470px}}


/* Cam Parameter on Homepage */
.embed-responsive-cam-param {
    padding-bottom: 28.5%;
    margin: 0 0 3em;
    border: 1px solid #ccc;
    overflow: hidden;
}

.step.welcome-step.np {
    padding:1em 0;   
}

.step .in {
    padding: 1em 2em;
}

.step .container {
    max-width: 80em;
}

/* Menu */
@media (max-width: 768px) {
    .navbar.navbar-main .dropdown-menu>li>a {
        color: #fff;
    }
}