</div>  
</div> <!-- See header -->
<footer id="footer" class="site">
<p class="copyright">
    &copy; 2013-2017 American Meteor Society, Ltd. - developed &amp; maintained by <a href="http://www.mikehankey.com/" target="_blank">Mike Hankey , LLC</a>
</p>
</footer>
 
 
<script src="../../bower_components/jquery/dist/jquery.min.js"></script> 
<script src="../../bower_components/bootstrap/dist/js/bootstrap.min.js"></script>  
<script src="/js/bootbox.min.js"></script>
<script src="/js/msg.js"></script> 
<script src="/js/ui.js"></script> 
<script src="/js/delete_all.js"></script>