<!DOCTYPE html>
<html lang="en">
<head>
    <title>AMS Cam</title>
    <% include ../shared/head.ejs %>
</head>
<body>
<% include ../shared/header.ejs %>    
 
 
        
        <div class="form-signin" style="padding: 15px 15px 0; margin-top: 80px; max-width:100em !important">
            <div class="alert alert-danger">
                <h3 class="nm"><span class="fa fa-warning"></span> 404 Error</h3>
                <p>Page not found</p>
            </div>
        </div>
        
    

<link href="/css/login.css" rel="stylesheet">   
<% include ../shared/footer.ejs %>    

</body>
</html>