<!DOCTYPE html>
<html lang="en">
<head>
    <title>AMS Cam</title>
    <% include ../shared/head.ejs %>
</head>
 
<body>

<% include ../shared/header.ejs %>

    <div class="box box-header-like clearfix">
        <div class="clearfix">
            <h3 class="pull-left">Update App</h3>
        </div>
    </div>
    
     <div class="step np">
        <div class="container nl">       
         
            <div class="row dmt">
                <div class="col-md-12">
                    
                    
                    <div class="alert alert-danger">
                        <span class="fa fa-info-circle"></span>
                        <strong>Updating the app will temporarily shut it down and log you out.</strong> 
                    </div>
                    
                    <strong>Current version:</strong> <%= info.version %><br/>
                    <strong>Licence:</strong> <%= info.license %>
                    
                    <hr/>
                    <form action="/app/update" method="post" class="mt">
                        <button class="btn btn-lg btn-primary btn-block load-on-click" type="submit" loader-text="Please wait...<br/>The process may take up to 10 minutes.<hr/>PLEASE, DO NOT LEAVE OR RELOAD THIS PAGE.">Update</button>
                    </form>    
                    <hr/>
                </div>
            </div>
                
           
        
        </div>
    </div>
         
    <% include ../shared/footer.ejs %>
  
    

</body>
</html>
