<!DOCTYPE html>
<html lang="en">
<head>
    <title>AMS Cam</title>
    <% include ../shared/head.ejs %>
</head>
<body>
<div id="wrap" class="clearfix">   
    <div class="container">
 
        
        <div class="form-signin" style="padding: 15px 15px 0; margin-top: 80px;">
            <div class="alert alert-danger">
                <h3><span class="fa fa-warning"></span> Error</h3>
                <p>We sent you an email with a link to reset your password. Please, check your Spam Folder if you didn't receive the email within the next few minutes.<br><a href="<%= backURL %>" class="btn btn-lg btn-success dmt" cl="" btn-lg="" btn-success=""><span class="fa fa-arrow-circle-left"></span> Back</a></p>
            </div>
        </div>
        
        
    </div>

<link href="/css/login.css" rel="stylesheet">   
<% include ../shared/footer.ejs %>    

</body>
</html>