<div id="wrap" class="clearfix">   
 
    <div class="navbar navbar-main">
        <div class="container-fluid">
      
            <div class="navbar-header">
                 <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-1" aria-expanded="false">
                <span class="fa fa-navicon"></span>
                </button>
           
                <div id="mobile-logo"><a href=""><img src="http://www.amsmeteors.org/imo/img/org/logos/ams.png" alt="American Meteor Society"></a></div>
     
            </div>
        
              <div class="collapse navbar-collapse top-nav-bar" id="navbar-collapse-1">
              <ul class="nav navbar-nav navbar-right">
                <li class="divider-v"></li>
                <li class="nav-btn-holder "><a href="/" class="bld">Home</a></li>
                <li class="divider-v"></li>
                <li class="dropdown">
			  	    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Detections <b class="caret"></b></a>
                    <ul class="dropdown-menu">
			  	        <li><a href="/detection/maybe">Maybe</a></li>
                    </ul>
                </li>    
                <li class="divider-v"></li>
                <li role="presentation" class="active"><a href="/screenshot">Screenshot</a></li> 
              </ul>
            </div> 
            
        </div>
    </div>
    
    <div class="container">