<!DOCTYPE html>
<html lang="en">
 
<head>
    <title>SIGNUP</title>
 
    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
    <link href="signup.css" rel="stylesheet">
 
</head>
 
<body>
 
    <div class="container">
        <div class="header">
            <nav>
                <ul class="nav nav-pills pull-right">
                    <li role="presentation"><a href="/">Home</a>
                    </li>
                    <li role="presentation"><a href="/signIn">Sign In</a>
                    </li>
                    <li role="presentation" class="active"><a href="#">Sign Up</a>
                    </li>
                </ul>
            </nav>
            <h3 class="text-muted">Python Flask App</h3>
        </div>
 
        <div class="jumbotron">
            <h1>Bucket List App</h1>
            <form class="form-signin" action="/register" method="post">
                <label for="inputFirstName" class="sr-only">First Name</label>
                <input type="name" name="inputFirstName" id="inputFirstName" class="form-control" placeholder="First Name" required autofocus>
                <label for="inputLastName" class="sr-only">Last Name</label>
                <input type="name" name="inputLastName" id="inputLastName" class="form-control" placeholder="Last Name" required autofocus>
                <label for="inputUsername" class="sr-only">Username</label>
                <input type="name" name="inputUsername" id="inputUsername" class="form-control" placeholder="Username" required autofocus>
                <label for="inputPassword" class="sr-only">Password</label>
                <input type="password" name="inputPassword" id="inputPassword" class="form-control" placeholder="Password" required>
                <label for="inputPhone" class="sr-only">Password</label>
                <input type="number" name="inputPhone" id="inputPhone" class="form-control" placeholder="Phone" required>
 
                <button id="btnSignUp" class="btn btn-lg btn-primary btn-block" type="submit">Sign up</button>
		        <span style="color:red;"><%= error %></span>
            </form>
        </div>
 
 
 
        <footer class="footer">
            <p>&copy; Company 2015</p>
        </footer>
 
    </div>
</body>
 
</html>
